{% extends "parts/template.html" %} {% set page ='404' %} {% block meta %}
<title>RECONO GPS - Asset Tracking Services</title>
<meta content="Secure, track and manage your heavy duty assets on every job site from your phone." name="description" />
<meta content="gps,track,asset,tracking,excavator,skid steer,job site,fleet" name="keywords" />
{% endblock %}

{% block main %}

<main id="main">
    <!-- Not found 404 -->
    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center"> <img src="img/404-image.png" class="mb-30" alt="">
                    <h2>Sorry we can't find that page!</h2>
                    <p>The page you are looking for was moved, removed, renamed or never existed.</p>
                    <a href="index.html" class="btn mt-30 text-center"><span><i class="ti-arrow-left"></i> Back to home</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- hr -->
    <hr class="line-vr-section">

{% include "sections/contact-banner.html" %}

</main>
<!-- End #main -->

{% endblock %}