{% extends "parts/template.html" %} {% set page ='about' %} {% block meta %}
<title>RECONO GPS - Asset Tracking Services</title>
<meta content="Secure, track and manage your heavy duty assets on every job site from your phone." name="description" />
<meta content="gps,track,asset,tracking,excavator,skid steer,job site,fleet" name="keywords" />
{% endblock %}

{% block main %}

<main id="main">
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/team.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center caption mt-90">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- hr -->
    <hr class="line-vr-section">
    <!-- About -->
    <div class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title" style="margin-bottom:5px;">Our Experience</div>
                    <p class="section-subtitle" style="margin-bottom:20px;">Construction meets technology</h5>
                    <p>Recono's success in heavy duty asset tracking is due to our combined experience in construction management and software engineering. With specialists in both fields we know the needs of our clients and have the technical skills to build software that delivers.</p>
                    <p>We provide a solution to track and secure invaluable assets for contruction and heavy duty machinary businesses. Our app has every valuable feature your businees needs while being simple to get started with and easy to use.</p>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <div class="img"> <img src="img/about.png" class="img-fluid" alt=""> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "sections/testimonials.html" %}

    {% include "sections/clients.html" %}

    <!-- hr -->
    <hr class="line-vr-section">

    {% include "sections/contact-banner.html" %}
    
    </main>

    {% endblock %}