{% extends "parts/template.html" %} {% set page ='about' %} {% block meta %}
<title>RECONO GPS - Asset Tracking Services</title>
<meta content="Secure, track and manage your heavy duty assets on every job site from your phone." name="description" />
<meta content="gps,track,asset,tracking,excavator,skid steer,job site,fleet" name="keywords" />
{% endblock %}

{% block main %}

<main id="main">
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center caption mt-90">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- hr -->
    <hr class="line-vr-section">
    <!-- About -->
    <div class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">25 Years of Experience</div>
                    <p>Architecture innovation tristique usto duision vitae diam neque nivamus aestan atene artines arinianu ateli finibus viverra nec lacus. Nedana theme edino setlie suscipe no cuvva inila duman aten elit finibus vivera alacus.</p>
                    <p>Design inilla duiman at elit finibus viverra nec a lacus themo the drudea senele misuscipit non sagie the fermen. Viverra tristique jusio the ivite dianne onen nivami acsestion architecture augue artine.</p>
                    <p>Architecture innovation tristique usto duision vitae diam neque nivamus aesta atene artines arinianu ateli finibus viverra nec lacus.</p>
                </div>
                <div class="col-md-6">
                    <div class="about-img">
                        <div class="img"> <img src="img/about.png" class="img-fluid" alt=""> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "sections/testimonials.html" %}

    <!-- Team -->
    <div class="team section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-15">
                    <div class="section-title">Creative Team</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="item toright mb-30">
                        <div class="img"> <img src="img/team/1.jpg" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Robert Brown</h6> / <span>dipl. Arch ETH/SIA</span>
                                <p>Viverra tristique usto duis vitae diam neque sivamus aesta vazio artines aten.</p>
                                <div class="social">
                                    <div class="full-width">
                                        <a href="#0" class="icon"> <i class="ti-facebook"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-twitter"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-linkedin"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item mb-30">
                        <div class="img"> <img src="img/team/2.jpg" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Emily Emma</h6> / <span>dipl. Arch ETH/SIA</span>
                                <p>Viverra tristique usto duis vitae diam neque sivamus aesta vazio artines aten.</p>
                                <div class="social">
                                    <div class="full-width">
                                        <a href="#0" class="icon"> <i class="ti-facebook"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-twitter"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-linkedin"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item toright mb-30">
                        <div class="img"> <img src="img/team/3.jpg" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Benjamin Ava</h6> / <span>dipl. Arch ETH/SIA</span>
                                <p>Viverra tristique usto duis vitae diam neque sivamus aesta vazio artines aten.</p>
                                <div class="social">
                                    <div class="full-width">
                                        <a href="#0" class="icon"> <i class="ti-facebook"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-twitter"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-linkedin"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item mb-30">
                        <div class="img"> <img src="img/team/4.jpg" alt=""> </div>
                        <div class="info valign">
                            <div class="full-width">
                                <h6>Sophia Miane</h6> / <span>dipl. Arch ETH/SIA</span>
                                <p>Viverra tristique usto duis vitae diam neque sivamus aesta vazio artines aten.</p>
                                <div class="social">
                                    <div class="full-width">
                                        <a href="#0" class="icon"> <i class="ti-facebook"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-twitter"></i> </a>
                                        <a href="#0" class="icon"> <i class="ti-linkedin"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "sections/clients.html" %}

    <!-- hr -->
    <hr class="line-vr-section">

    {% include "sections/contact-banner.html" %}
    
    </main>

    {% endblock %}