{% extends "parts/template.html" %} {% set page ='services' %} {% block meta %}
<title>RECONO GPS - Asset Tracking Services</title>
<meta content="Secure, track and manage your heavy duty assets on every job site from your phone." name="description" />
<meta content="gps,track,asset,tracking,excavator,skid steer,job site,fleet" name="keywords" />
{% endblock %}

{% block main %}

<main id="main">

    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-darkgray="4" data-background="img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center caption mt-90">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- hr -->
    <hr class="line-vr-section">
    <!-- Services -->
    <div class="services-feat section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="img/services/1.jpg">
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title text-vertical">
                                    <h4>Architectural Design</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                <h4>Architectural Design</h4>
                                <p>Architecture viverra tristique ustoni missten vitae diam neque nivamus aestan the atene artines arinianu ateli ine finibus viverra nec lacus. Nedana theme sea no curabit.</p>
                                <div class="btn-line"><a href="architectural-design.html">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="img/services/2.jpg">
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title text-vertical">
                                    <h4>Interior Design</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                <h4>Interior Design</h4>
                                <p>Architecture viverra tristique ustoni missten vitae diam neque nivamus aestan the atene artines arinianu ateli ine finibus viverra nec lacus. Nedana theme sea no curabit.</p>
                                <div class="btn-line"><a href="interior-design.html">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="img/services/3.jpg">
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title text-vertical">
                                    <h4>Urban Design</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                <h4>Urban Design</h4>
                                <p>Architecture viverra tristique ustoni missten vitae diam neque nivamus aestan the atene artines arinianu ateli ine finibus viverra nec lacus. Nedana theme sea no curabit.</p>
                                <div class="btn-line"><a href="urban-design.html">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="img/services/4.jpg">
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title text-vertical">
                                    <h4>3D Modelling</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                <h4>3D Modelling</h4>
                                <p>Architecture viverra tristique ustoni missten vitae diam neque nivamus aestan the atene artines arinianu ateli ine finibus viverra nec lacus. Nedana theme sea no curabit.</p>
                                <div class="btn-line"><a href="3d-modelling.html">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="img/services/5.jpg">
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title text-vertical">
                                    <h4>Decor Plan</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                <h4>Decor Plan</h4>
                                <p>Architecture viverra tristique ustoni missten vitae diam neque nivamus aestan the atene artines arinianu ateli ine finibus viverra nec lacus. Nedana theme sea no curabit.</p>
                                <div class="btn-line"><a href="decor-plan.html">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="square-flip">
                        <div class="square bg-img" data-background="img/services/6.jpg">
                            <div class="square-container d-flex align-items-end justify-content-end">
                                <div class="box-title text-vertical">
                                    <h4>Planning</h4>
                                </div>
                            </div>
                            <div class="flip-overlay"></div>
                        </div>
                        <div class="square2">
                            <div class="square-container2">
                                <h4>Planning</h4>
                                <p>Architecture viverra tristique ustoni missten vitae diam neque nivamus aestan the atene artines arinianu ateli ine finibus viverra nec lacus. Nedana theme sea no curabit.</p>
                                <div class="btn-line"><a href="planning.html">Read more</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hr -->
    <hr class="line-vr-section">
    
    {% include "sections/contact-banner.html" %}

</main>

{% endblock %}